<div class="message">
  <a href="" class="message_username"><%= message.user.username %> </a>
  <p> <%= message.content %> </p>
  <span class="message_timestamp"><%= message.created_at %></span>

</div>
