<h1>Welcome to Vibin Music, <%= @user.name %>!</h1>
 <p>To confirm your registration, click the URL below.</p>
<%= link_to "Activate", confirm_email_url(@user.confirm_token, host: "localhost:3000") %>
