<h1>Vibin</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  Welcome to the Sample App! Click on the link below to activate your account:
</p>

<%= link_to "Activate", confirm_email_url(@user.confirm_token, host: "localhost:3000") %>
