<h1>Welcome to Vibin Music, <%= @user.name %>!</h1>
<h1>Enjoy your 3 three month subscription</h1>
<p>Thank you for choosing Vibin Music, your hot spot for not just music! </p>
<p>Vibin Music is a place for you to find new music and other people that like the same music.</p>
<p>Not only that, we provide you with nearby music events! If you're an artist, we can also get you're event going.</p>
<p></p>
<h2>Supposed link</h2>
