<%= form_with(model: @user, multipart: true) do |f| %>

  <div id="signUp" class="SignUp">
    <div class="Header" id="header">
      <div class="LeftHeader" id="leftHeader">
        <%= image_tag "insert.png", :class => "LeftHeaderImage", :id => "leftHeaderImage", :onclick => "$('#firstHeader').trigger('click');" %>
        <div class="Badge LeftBadge" id="badge1">
          Banner Color
        </div>
      </div>
      <div class="Avatar" id="avatar">
        <img src="/default-avatar.jpg" style="width:100%; height:100%; object-fit:cover;" id="avatarImage">
      </div>
      <div class="RightHeader" id="rightHeader">
        <%= image_tag "insert.png", :class => "RightHeaderImage", :id => "rightHeaderImage" %>
        <div class="Badge RightBadge" id="badge2">
          Banner Text Color
        </div>
      </div>
    </div>
    <!%= react_component "UserSignUp/UserHeader" %>
    <script src="https://unpkg.com/vanilla-picker@2"></script>
    <script>
        var rgbColor1 = "rgb(234,167,102)";
        var rgbColor2 = "rgb(0,0,0)";
        $(function () {
            var badge1 = document.querySelector('#badge1');
            var badge2 = document.querySelector('#badge2');
            var badgePicker1 = new Picker({
                parent: badge1,
                color: "#eaa766",
                popup: 'bottom',
                onOpen: function () {
                    $('.popup.popup_right').css('left', "75%");
                },
                onChange: function (color) {
                    badge1.style.background = color.rgbaString;
                    badge2.style.background = color.rgbaString;

                    rgbColor1 = color.rgbaString;
                    rgbColor1 = rgbColor1.replace('a', '');
                    rgbColor1 = rgbColor1.substring(0, rgbColor1.length - 3) + ')';
                    $('#avatar').css('border-color', rgbColor1);
                    $("#user_badgeColor").val(rgbColor1);
                }
            });
            var badge2 = document.querySelector('#badge2');
            var badgePicker2 = new Picker({
                popup: 'bottom',
                parent: badge2,
                color: "black"
            });
            badgePicker2.onChange = function (color) {
                badge1.style.color = color.rgbaString;
                badge2.style.color = color.rgbaString;
                rgbColor2 = color.rgbaString;
                rgbColor2 = rgbColor2.replace('a', '');
                rgbColor2 = rgbColor2.substring(0, rgbColor2.length - 3) + ')';
                $('#user_badgeTextColor').val(rgbColor2);
            };
        });
    </script>
    <div class="row justify-content-center">
      <div class="col-3" style="max-width: 320px; margin-right: 15px;">
        <div class="Form" style="margin-bottom: 100px;">
          <label class="Label">
            Name
          </label><br>
          <input type="text" class="Input" name="user[name]" id="user_name" placeholder="name" style="border-radius: 3px;" oninput="handleName(this)">
          <br>
          <label class="Label">
            Username
          </label><br>
          <input type="text" class="Input" name="user[username]" id="user_username" placeholder="username" oninput="handleUserName(this)">
          <br>
          <label class="Label">
            Email
          </label><br>
          <input type="text" id="user_email" name="user[email]" class="Input" placeholder="email" oninput="handleEmail(this)">
          <br>
          <label class="Label">
            Password
          </label><br>
          <input type="password" id='user_password' name="user[password]" class="Input" placeholder="password" onblur="handlePassword(this)">
          <br>
          <label class="Label">
            Confirm Password
          </label><br>
          <input type="password" name="user[password_confirmation]" id='user_password_confirmation' class="Input" onblur="handleConfirmPassword(this)">
          <br>
          <label class="Label">
            Birthday
          </label><br>
          <input type="date" class="Input" name="user[birthday]" id="user_birthday" oninput="" onclick="setMinMaxDate(this);">
          <br>
          <label class="Label">
            Gender
          </label><br>
          <select class="Input" name="user[gender]" id="user_gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="TransMale">Transgender Male</option>
            <option value="TransFemale">Transgender Female</option>
          </select>
          <br>
          <label class="Label">
            Hometown
          </label><br>
          <input class="Input" id="user_hometown" name="user[hometown]" placeholder="Enter your Howntown" type="text"/>
          <br>
          <label class="Label">
            Reside In
          </label><br>
          <input class="Input" id="user_location" name="user[location]" placeholder="Enter your city" type="text">
          <input hidden id="user_longitude" name="user[longitude]">
          <input hidden id="user_latitude" name="user[latitude]">

        </div>
      </div>
      <div class="col-4" style="margin-left: 15px;">
        <div class="row">
          <div class="col NonMemberBenefits">
            <p>Free Account Benefits</p>
            <p> Earn ad-free days.</p>
            <p> Upload Music.</p>
            <p> listen to Broadcasts.</p>
          </div>
        </div>
        <div class="row">
          <div class="col TermsOfAgreement">
            <em>Please Read the Terms of Agreements.</em>
            <br>
            <input type="checkbox" id="user_Terms_of_Agreement" value="1"> I have read and do agree to the Terms of
            Agreements.
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="submit" name="commit" id="submit" class="Submit" value="Create Account" data-disable-with="Create"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input hidden class="photo_upload" type="file" name="user[firstHeader]" id="firstHeader" onchange=
      "openModal(this.files[0])">
  <input hidden class="photo_upload" type="file" name="user[secondHeader]" id="secondHeader" onchange=
      "document.getElementById('rightHeaderImage').src = window.URL.createObjectURL(this.files[0]);
          oneTimeImageSelection('secondHeader');
          $('#rightHeaderImage').height = $('.Images').height;">
  <input hidden class="photo_upload" type="file" name="user[avatar]" id="avatarUpload" onchange=
      "document.getElementById('avatarImage').src = window.URL.createObjectURL(this.files[0]);
          oneTimeImageSelection('avatarUpload');
          $('#avatarImage').height = $('.images').height * .33;">
  <input style="visibility: hidden" type="text" id="user_bio" name="user[bio]" value="nullnull">
  <input hidden type="text" name="user[badgeColor]" id="user_badgeColor" value="rgb(234,167,102)">
  <input hidden type="text" name="user[badgeTextColor]" id="user_badgeTextColor" value="rgb(0,0,0)">

<% end %>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABBVE90zE3SB_kb52KWFSS2Fqumy303do&libraries=places"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
