<div id="groupies">

  <div class="row">
    <div class="leftColumn">
      <div class="row border border-primary">
        <h1>LMAO</h1>
      </div>
      <div class="row">
        <h1>LMAO</h1>
      </div>
      <div class="row">
        <h1>LMAO</h1>
      </div>
      <%= react_component("GroupiesPage") %>
    </div>
    <div class="rightColumn">
      <div id="floating-panel">
        <input id="address" type="textbox" value="Sydney, NSW">
        <input id="submit" type="button" value="Geocode">
        <input id="asdf" type="button" value="test" onclick="HelloGroupies()">
      </div>
      <!--div id="map" style="height:300px; width:100%;">
      </div-->
    </div>
  </div>

  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABBVE90zE3SB_kb52KWFSS2Fqumy303do&callback=initMap">
  </script>

</div>
