<div class="container-fluid forall border"  >
  <%= form_tag(search_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag 'Search', :username => nil %>
  <% end %>


</div>
