<%= form_with(model: @newPost, multipart: true, :html => {:style => 'width: 100%;'}) do |f| %>
  <div hidden class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Post</h5>
  </div>
  <div class="row" style="justify-content: end;">
    <div class="col-1" style="margin-right: 20px; margin-top: 2px;">
      <span class="CancelPostModal" id="cancelPostModal"> X</span>
    </div>
  </div>
  <div class="row justify-content-center" style="margin: 10px 10px 10px 10px;">
    <div class="" style=" width:min-content; display: flex;">
      <img src="default-avatar.jpg" class="PostFormUserAva">
    </div>
    <div class="col-9" style="margin-top: 8px;">
      <%= f.text_area :content, class: "PostFormText", rows: 1, placeholder: "Text", id: "post_content" %>
    </div>
  </div>
  <div class="row justify-content-center" id="previewImages">
  </div>
  <div class="container justify-content-center" id="previewSongs">

  </div>
  <input hidden class="photo_upload" id="images" type="file" multiple="true" accept="image/jpeg, image/tiff, image/png">
  <div class="row justify-content-end" style="margin-top: 9px;">
    <div class="col-2">
      <button class="PostFormButton" id="imageUploader" onclick="event.preventDefault(); imageButtonClicked()">
        <%= image_tag "PictureUploadButton.png", style: "height:30px; width:30px;" %>
      </button>
    </div>
    <div class="col-2">
      <button class="PostFormButton" id='songUploader' onclick="event.preventDefault(); songButtonClicked()">
        <%= image_tag "MusicButton.png", style: "height:30px; width:30px;" %>
      </button>
    </div>
    <input hidden class="" name="post[songs][]" id="songs" type="file" multiple="true" accept="audio/*">
    <div class="col-3">
      <button class="PostFormSubmitButton" id="submitt" onclick=submitPost($(".PostFormText").val())>
        Submit
      </button>
    </div>
  </div>
<% end %>

