// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.homePage{
  min-width: 900px;
  width: 99%;
}
.left-column{

  height: 380px;
  width: 200px;
  background-color: #b3ffb3;
}
.center-column::-webkit-scrollbar {
    width: 0px; /*For Chrome, Safari and Opera*/
}
.center-column{
  height: 98vh;
  width: calc(75% - 100px);
  overflow-x: hidden;
  overflow-y: auto;
}
.right-column{
  width: calc(25% - 100px);
  height: 300px;
  top: 60px;
  background-color: #b3ffb3;
}
.avatar-home{
  border-style: solid;
  border-color:white;
  padding: 0px 0px 0px 0px;
  border-radius: 35px;
  margin-top: 5px;
  height: 70px;
  width: 70px;
}
.badge-gold{
  border-style: solid;
  border-color:gold;
  margin-top: 5px;
  height: 25px;
  width: 25px;
}
.badge-silver{
  border-style: solid;
  border-color: silver;
  margin-top: 5px;
  height: 25px;
  width: 25px
}
