$blue: #0af;
$hover-color: #25a805;

.playButton{
  height: 90px;
  width: 90px;
  border-style: solid;
  border-color: white;
  background-color: inherit;
}
.playButtonImage{
  height: 90px;
  width:90px;
}
.seek-bar {
  width: 400px;
  background-color: #b3ffb3;
  display: flex;
  border-radius: 100000px;
  cursor: pointer;
}
.fill {
  height: 5px;
  background-color: $blue;
  border-radius: 100000px;
}

.handle {
  width: 5px;
  height: 5px;
  background-color: $blue;
  border-radius: 100000px;
  margin-left: -5px;
  transform: scale(2);
  transition: all 0.1s;
}
button.play {
  display: block;
  width: 30px;
  height: 30px;
  margin: 5px 0px 5px 0px;
  border: 0;
  background-color: $blue;
  color: white;
  font-size: 15px;
  border-radius: 100000px;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }
}

button.volume{
  display: block;
  width: 30px;
  height: 30px;
  border: 0;
  background-color: $blue;
  color: white;
  font-size: 15px;
  border-radius: 100000px;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }
}

button.skip_forward {
  display: block;
  width: 30px;
  height: 30px;
  border: 0;
  background-color: $blue;
  color: white;
  font-size: 15px;
  border-radius: 100000px;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }
}

.volume_bar {
  width: 250px;
  background-color: #730E15;
  display: flex;
  align-items: center;
  border-radius: 100000px;
  cursor: pointer;


  .volume_fill {
    height: 5px;
    background-color: $blue;
    border-radius: 100000px;
  }

  .volume_handle {
    width: 5px;
    height: 5px;
    background-color: $blue;
    border-radius: 100000px;
    margin-left: -5px;
    transform: scale(2);
    transition: all 0.1s;

    &:hover {
      background-color: $hover-color;
      transform: scale(3);
    }
  }
}

/*
.audio-player {
  display: flex;
  align-items: center;
  width: 600px;
  height: 90px;
  margin: auto;

  button.playlist-modal {
    position: absolute;
    display: flex;
    width: 100px;
    height: 50px;
    margin-left: 500px;
  }

  button.play {
    display: block;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: $blue;
    color: white;
    font-size: 30px;
    border-radius: 100000px;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }

  button.broadcast {
    margin-left: 10px;
    margin-top: -130px;
    display: block;
    width: 46px;
    height: 46px;
    border: 0;
    background-color: $blue;
    color: white;
    font-size: 30px;
    border-radius: 100000px;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }
  .center{
    float: center;
  }
  .seek-bar {
    width: 400px;
    background-color: #b3ffb3;
    display: flex;
    border-radius: 100000px;
    cursor: pointer;

    .fill {
      height: 5px;
      background-color: $blue;
      border-radius: 100000px;
    }

    .handle {
      width: 5px;
      height: 5px;
      background-color: $blue;
      border-radius: 100000px;
      margin-left: -5px;
      transform: scale(2);
      transition: all 0.1s;

      &:hover {
        background-color: $hover-color;
        transform: scale(3);
      }
    }
  }

  button.volume {
    margin-left: 140px;
    margin-top: -130px;
    display: block;
    width: 46px;
    height: 46px;
    border: 0;
    background-color: $blue;
    color: white;
    font-size: 30px;
    border-radius: 100000px;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }

  button.skip_forward {
    margin-left: 10px;
    margin-top: -130px;
    display: block;
    width: 46px;
    height: 46px;
    border: 0;
    background-color: $blue;
    color: white;
    font-size: 30px;
    border-radius: 100000px;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }

  .volume_bar {
    margin-top: -125px;
    margin-left: 15px;
    width: 150px;
    background-color: #730E15;
    display: flex;
    align-items: center;
    border-radius: 100000px;
    cursor: pointer;


    .volume_fill {
      height: 10px;
      background-color: $blue;
      border-radius: 100000px;
    }

    .volume_handle {
      width: 10px;
      height: 10px;
      background-color: $blue;
      border-radius: 100000px;
      margin-left: -5px;
      transform: scale(2);
      transition: all 0.1s;

      &:hover {
        background-color: $hover-color;
        transform: scale(3);
      }
    }
  }
}
*/

.song {
  background-color: #26F5DB;
  width: 90%;
  margin-bottom: 5px;
  height: 150px;
}
