$blue: #0af;
$hover-color: #25a805;

.musicPlayer{
  height: 100px;
  width: 100%;
  .songDetails{
    position: relative;
    float: left;
    height: 100%;
    width: 25%;
    background-color: green;
    .songCover{
      position: relative;
      float: left;
      height: 100%;
      width: 100px;
      background-color: yellow;
    }
    .songInfo{
      position: relative;
      float: left;
      height: 100px;
      width: calc(100% - 100px);
      background-color: orange;
    }
  }
  .player{
    position: relative;
    float: left;
    height: 100%;
    width: 50%;
    background-color: red;
    .seek-bar{
      width: 80%;
      height: 20px;
      background-color: yellow;
      .fill {
        position: absolute;
        top: 5px;
        width: 80%;
        height: 7px;
        background-color: $blue;
        border-radius: 100000px;
      }
      .handle {
        float: left;
        width: 7px;
        height: 7px;
        background-color: $blue;
        border-radius: 100px;
        transform: scale(2);
        transition: all 0.1s;

        &:hover {
          background-color: $hover-color;
          transform: scale(2);
        }
      }
    }
    button.play {
      display: block;
      width: 50px;
      height: 50px;
      border: 0;
      background-color: $blue;
      color: white;
      font-size: 30px;
      border-radius: 100000px;
      cursor: pointer;

      &:hover {
        background-color: $hover-color;
      }
    }
    .volume_bar {
      width: 50%;
      margin-top: 5px;
      background-color: #730E15;
      border-radius: 100px;
      cursor: pointer;
      height: 7px;
      .volume_fill {
        height: 7px;
        background-color: $blue;
        border-radius: 100000px;
      }
      .volume_handle {
        width: 10px;
        height: 10px;
        background-color: $blue;
        border-radius: 100000px;
        margin-left: -5px;
        transform: scale(2);
        transition: all 0.1s;

        &:hover {
          background-color: $hover-color;
          transform: scale(3);
        }
      }
    }
    /*
    .audio-player {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      button.playlist-modal {
        position: absolute;
        display: flex;
        width: 100px;
        height: 50px;
        margin-left: 650px;
      }

      button.play {
        display: block;
        width: 50px;
        height: 50px;
        border: 0;
        background-color: $blue;
        color: white;
        font-size: 30px;
        border-radius: 100000px;
        cursor: pointer;

        &:hover {
          background-color: $hover-color;
        }
      }

      button.broadcast {
        margin-left: 10px;
        margin-top: -130px;
        display: block;
        width: 46px;
        height: 46px;
        border: 0;
        background-color: $blue;
        color: white;
        font-size: 30px;
        border-radius: 100000px;
        cursor: pointer;

        &:hover {
          background-color: $hover-color;
        }
      }

      .center {
        float: center;
      }

      .postButton {
        margin-left: 7px;
      }

      .seek-bar {
        width: 400px;
        background-color: #730E15;
        display: flex;
        border-radius: 100000px;
        cursor: pointer;
        margin-left: 15px;
        height: 7px;
        paddinng-right: 5px;

        .fill {
          height: 7px;
          background-color: $blue;
          border-radius: 100000px;
        }

        .handle {
          width: 10px;
          height: 10px;
          background-color: $blue;
          border-radius: 100000px;
          margin-left: -5px;
          transform: scale(2);
          transition: all 0.1s;

          &:hover {
            background-color: $hover-color;
            transform: scale(3);
          }
        }
      }

      button.volume {
        margin-left: 140px;
        margin-top: -125px;
        display: block;
        width: 46px;
        height: 46px;
        border: 0;
        background-color: $blue;
        color: white;
        font-size: 30px;
        border-radius: 100000px;
        cursor: pointer;

        &:hover {
          background-color: $hover-color;
        }
      }

      button.skip_forward {
        margin-left: 10px;
        margin-top: -125px;
        display: block;
        width: 46px;
        height: 46px;
        border: 0;
        background-color: $blue;
        color: white;
        font-size: 30px;
        border-radius: 100000px;
        cursor: pointer;

        &:hover {
          background-color: $hover-color;
        }
      }

      .volume_bar {
        margin-top: -125px;
        margin-left: 15px;
        width: 150px;
        background-color: #730E15;
        display: flex;
        align-items: center;
        border-radius: 100000px;
        cursor: pointer;
        height: 7px;


        .volume_fill {
          height: 7px;
          background-color: $blue;
          border-radius: 100000px;
        }

        .volume_handle {
          width: 10px;
          height: 10px;
          background-color: $blue;
          border-radius: 100000px;
          margin-left: -5px;
          transform: scale(2);
          transition: all 0.1s;

          &:hover {
            background-color: $hover-color;
            transform: scale(3);
          }
        }
      }
    }
    */
  }
  .userDetails{
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    background-color: blue;
  }
}
.postLeft {
  width: 25%;
  position: relative;
}

.postCenter {
  width: 60%;
}

.postRight {
  width: 15%;
}

.post-ava {
  display: inline-block;
  overflow: hidden;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}

.broadcaster-ava {

  display: inline-block;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}

.playButton {
  height: 90px;
  width: 90px;
  border-style: solid;
  border-color: white;
  background-color: inherit;
}

.playButtonImage {
  height: 90px;
  width: 90px;
}


.song {
  background-color: #26F5DB;
  width: 90%;
  margin-bottom: 5px;
  height: 150px;
}
