<h1>Playlists#index</h1>
<p>Find me in app/views/playlists/index.html.erb</p>
<div id="playlists" class="list-group data-url" data-url="<%= sort_playlists_path %>">
  <% unless @song_position.nil? %>
    <% @song_position.each do |song_position| %>
      <%= link_to_song song_position %>
    <% end %>
  <% else %>
    <h1>You dont have a playlist yet... Go make one!</h1>
  <% end %>

</div>

<script>
    $("#playlists").sortable({
        update: function (a, ui) {
            console.log($(this).sortable('serialize'));
            Rails.ajax({
                url: $(this).data("url"),
                type: "PATCH",
                data: $(this).sortable('serialize')
            })
        }
    });
</script>
