<span onclick="sendTheAJAX('', '')" class="VibinTab">Vibin</span>

<span class="ExploreTab" onclick="sendTheAJAX('explore', '')">Explore</span>

<span class="GroupiesTab" id="G" onclick="sendTheAJAX('groupies','')">Groupies</span>

<%= form_tag search_path, method: :get, remote: true do %>
  <%= text_field_tag :term, nil, placeholder: "Search", class: "SearchBar" %>

<% end %>

<div style="float: right;">
<div class="login">Login
  <div class="dropdown-content-login">
    <%= render 'sessions/form'%>
  </div>
</div>

<% if logged_in? %>
  <div id="current-user"></div>
<% end %>
</div>
